<div class="mb-3">
    <label class="form-label" for="username">Username</label><input class="form-control" required id="username" name="username" placeholder="" type="text">
</div>
<div class="mb-3">
    <label class="form-label" for="password">Password</label><input class="form-control" required id="password" name="password" placeholder="" type="password">
</div>
<div class="mb-3">
    <label class="form-label" for="email">Email</label><input class="form-control" required id="email" name="email" placeholder="" type="email">
</div>
<div class="mb-3">
    <label class="form-label" for="firstname">Firstname</label><input class="form-control" id="firstname" name="firstname" placeholder="" type="text">
</div>
<div class="mb-3">
    <label class="form-label" for="lastname">Lastname</label><input class="form-control" id="lastname" name="lastname" placeholder="" type="text">
</div>